github.com:
    {{- if eq .chezmoi.os "darwin" }}
    user: azasorin-rss
    {{ else }}
    user: AlexZasorin
    {{ end -}}
    git_protocol: ssh
    users:
        azasorin-rss:
        AlexZasorin:
