github.com:
    {{- if eq .chezmoi.os "darwin" }}
    user: azasorin-rss
    {{ else }}
    user: AlexZasorin
    {{ end -}}
    git_protocol: ssh
    users:
        {{- if eq .chezmoi.os "darwin" }}
        azasorin-rss:
        {{ else }}
        AlexZasorin:
        {{ end -}}
