.config/helix/runtime/grammars

launcher
launcher/bash
launcher/bash/br

/.local/share/chezmoii/nixos-switch.log

{{- if ne .chezmoi.os "linux" }}
.config/kanata
.config/kglobalshortcutsrc
.config/nixos
scripts/nix
{{ end -}}

{{- if ne .chezmoi.os "darwin" }}
.config/karabiner
{{ end -}}
