[credential "https://github.com"]
  helper = 
{{- if (and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "nixos")) }}
  helper = !/run/current-system/sw/bin/gh auth git-credential
{{ end }}
[credential "https://gist.github.com"]
  helper = 
{{- if (and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "nixos")) }}
  helper = !/run/current-system/sw/bin/gh auth git-credential
{{ end }}

[core]
  sshCommand = "ssh -i ~/.ssh/id_ed25519_personal"
  editor = nvim	
  fsmonitor = true
  untrackedCache = true
  excludesfile = ~/.gitignore


[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[pull]
  rebase = true

[user]
  name = "Alex Zasorin"
  email = "zasorin.alek@gmail.com"

[init]
  defaultBranch = trunk

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = -version:refname

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[help]
  autocorrect = prompt

[commit]
  verbose = true

[rerere]
  enabled = true
  autoupdate = true

[merge]
  conflictstyle = zdiff3

[includeIf "hasconfig:remote.*.url:git@github.com:risk-and-safety/*"]
  path = ~/.gitconfig_work

[includeIf "hasconfig:remote.*.url:git@github.com:gepenrose/*"]
  path = ~/.gitconfig_work

[includeIf "hasconfig:remote.*.url:git@github.com:drewzemke-rss/*"]
  path = ~/.gitconfig_work

[includeIf "hasconfig:remote.*.url:git@github.com:azasorin-rss/*"]
  path = ~/.gitconfig_work

