{{ if eq .chezmoi.os "darwin" }}
Host * !github.com
    IdentityFile /Users/azasorin/.ssh/id_ed25519_personal

{{ end }}
Host *
    IgnoreUnknown UseKeychain
    AddKeysToAgent yes
    UseKeychain yes
{{ if ne .chezmoi.os "darwin" }}
    IdentityFile /home/solyx/.ssh/id_ed25519
{{ end }}
    IdentitiesOnly yes
