#!/usr/bin/env zsh


eod() {
  # Array of quotes
  quotes=(
    "I'm the king of my own land\nFacing tempests of dust, I'll fight until the end\nCreatures of my dreams raise up and dance with me!\nNow and forever, I'm your king!"
    "Until the day when God shall deign to reveal the future to man, all human wisdom is summed up in these two words, Wait and hope."
    "So we beat on, boats against the current, borne back ceaselessly into the past."
    "I saw death rising from the earth, from the ground itself, in one blue field.\nA present for my friends... at Thanksgiving."
    "In case I don't see you, good afternoon, good evening, and goodnight."
    "Hello, Elliot."
    "Joe, when you see Emily\nTell her to wait for me\nCause I still have work to do..."
    "Touch, sweet touch\nYou've given me too much to feel\nSweet touch\nYou've almost convinced me I'm real\nI need something more\nI need something more"
    "I see your star\nYou left it burning for me\nMother, I'm here"
    "Étoile, et toi\nEt toi, et moi\nTu es mon univers"
    "I used to be fine because you\nAlways seemed so far away\nBut now I feel our paths getting closer each day\nIt's rather strange"
    "Correct, alchemist! You've defeated me. Take everything you want!"
    "There was no choice. There are some things no one can bear. I meddled in all the possible futures I could create until, finally, they created me."
    "There can be no reasonable doubt: the ancient mystery is solved at last. Yet, oh God, there were so many stars you could have used.\nWhat was the need to give these people to the fire, that the symbol of their passing might shine above Bethlehem?"
  )
  log-msg magenta true "End of Day"

  log-msg blue false "Pushing notes..."
  git -C ~/Repos/notes add .
  git -C ~/Repos/notes commit -m "update $(date +"%a %b %d, %Y %H:%M")"
  git -C ~/Repos/notes push

  if [[ $(git -C ~/.local/share/chezmoi status --porcelain | wc -l) -gt 0 ]]; then
    log-msg red true "Error: Uncommited changes in chezmoi. Please review and commit."
    return 1
  else
    # cd to your config dir
    pushd ~/.local/share/chezmoi

    log-msg blue false "Saving nvim lazy.lock..."
    chezmoi add "~/.config/nvim/lazy-lock.json"
    git add "**/lazy-lock.json"
    git commit -m "chore(nvim): update lazy-lock.json"

    log-msg blue false "Saving nvim spelling dictionary..."
    chezmoi add "~/.config/nvim/spell/"
    git add "**/en.utf-8.add*"
    git commit -m "chore(nvim): update spelling dictionary"

{{ if (and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "nixos")) }}
    log-msg blue false "Saving flake.lock..."
    chezmoi add "~/.config/nixos/flake.lock"
    git add "**/flake.lock"
    git commit -m "chore(nixos): update flake.lock"
{{ end }}

    log-msg blue false "Pushing chezmoi..."
    git -C ~/.local/share/chezmoi push

    popd
  fi

  # Select a random quote
  random_quote=${quotes[$RANDOM % ${#quotes[@]} + 1]}

  log-msg yellow false "$random_quote"
}
