#!/usr/bin/env bash
# A rebuild script that commits on a successful build
set -e

# Edit your config
if [[ "$#" -eq 0 ]]; then
  configuration_file="configurations/configuration.nix"
elif [[ "$#" -eq 1 ]]; then
  configuration_file="$1"
else
  echo 'Usage: $0 [configuration_file]'
fi 

nixos_config_path=$(echo $NIX_PATH | sed -n 's/.*nixos-config=\([^:]*\).*/\1/p')

chezmoi edit --apply "$nixos_config_path/$configuration_file"

# cd to your config dir
pushd ~/.local/share/chezmoi

# Early return if no changes were detected (thanks @singiamtel!)
if git diff --quiet '*.nix'; then
    echo "No changes detected, exiting."
    popd
    exit 0
fi

# Autoformat your nix files
alejandra . &>/dev/null \
  || ( alejandra . ; echo "formatting failed!" && exit 1)

# Shows your changes
git diff -U0 '*.nix'

echo "NixOS Rebuilding..."

# Rebuild, output simplified errors, log trackebacks
{{ if eq .chezmoi.hostname "deimos" }}
sudo nixos-rebuild switch --flake ~/.config/nixos#laptop &>nixos-switch.log || (cat nixos-switch.log | grep --color error && exit 1)
{{ else if eq .chezmoi.hostname "phobos" }}
sudo nixos-rebuild switch --flake ~/.config/nixos#desktop &>nixos-switch.log || (cat nixos-switch.log | grep --color error && exit 1)
{{ else if eq .chezmoi.hostname "ceres" }}
sudo nixos-rebuild switch --flake ~/.config/nixos#server &>nixos-switch.log || (cat nixos-switch.log | grep --color error && exit 1)
{{ else }}
sudo nixos-rebuild switch --flake ~/.config/nixos#default &>nixos-switch.log || (cat nixos-switch.log | grep --color error && exit 1)
{{ end }}

# Get current generation metadata
current=$(nixos-rebuild list-generations | grep current)

# Commit all changes witih the generation metadata
git add '*.nix'
git commit -m "$current"

# Clean up old configs
echo "Cleaning up configs older than 15 days"
(sh ~/scripts/nix/cleanup.sh 2>~/cleanup.log | sed -n '$p') || echo "Clean up encountered an error. Please see ~/cleanup.log."

# Back to where you were
popd

# Notify all OK!
notify-send -e "NixOS Rebuilt OK!" --icon=software-update-available
